<?xml version="1.0" encoding="UTF-8"?>
<launch>
  <arg name="model" default="$(find final_description)/urdf/final.urdf"/>
  <!--arg name="rvizconfig" default="$(find final )/urdf/urdf.rviz" /-->

  <include file="$(find final_description)/launch/gazebo.launch">
    <arg name="model" value="$(arg model)" />
  </include>

  <!--node name="rviz" pkg="rviz" type="rviz" args="-d $(arg model)" /-->

  <rosparam command="load"
            file="$(find final_description )/config/joints.yaml"
            ns="final_joint_state_controller" />

  <rosparam command="load"
            file="$(find final_description )/config/differential.yaml"
            ns="final_diffdrive_controller" />

  <rosparam command="load"
            file="$(find final_description )/config/front_gate.yaml"
            ns="final_frontgate_controller" />

  <rosparam command="load"
            file="$(find final_description )/config/back_gate.yaml"
            ns="final_backgate_controller" />

  <rosparam command="load"
            file="$(find final_description )/config/left_flap.yaml"
            ns="final_lf_controller" />

  <rosparam command="load"
            file="$(find final_description )/config/right_flap.yaml"
            ns="final_rf_controller" />

  <node name="umic_controller_spawner" pkg="controller_manager" type="spawner"
    args="final_joint_state_controller
          final_frontgate_controller
          final_backgate_controller
          final_diffdrive_controller
          final_lf_controller
          final_rf_controller
          --shutdown-timeout 3"/>

  <node pkg="final_description" type="sonar.py" name="scan_values_1" output="screen"/>

  <!--node name="rqt_robot_steering" pkg="rqt_robot_steering" type="rqt_robot_steering">
    <param name="default_topic" value="/final_diffdrive_controller/cmd_vel"/>
  </node-->

</launch>
